@import 'colors';

@mixin round {
  border-radius: 2rem;
}

@mixin sharp {
  border-radius: 0;
}

@mixin animate($time: 0.25s) {
  $transition: all $time;
  transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
}

@mixin Montserrat {
  font-family: $montserrat;
}

@mixin Roboto {
  font-family: $roboto;
}

@mixin padding-x($amount) {
  padding-left: $amount;
  padding-right: $amount;
}

@mixin padding-y($amount) {
  padding-top: $amount;
  padding-bottom: $amount;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin BoxShadow($dp, $color: $black) {
  @if $dp==0 {
    box-shadow: none;
  } @else if $dp==1 {
    box-shadow: 0 1px 1px 0 rgba($color, 0.14),
      0 2px 1px -1px rgba($color, 0.12), 0 1px 3px 0 rgba($color, 0.2);
  } @else if $dp==2 {
    box-shadow: 0 2px 2px 0 rgba($color, 0.14),
      0 3px 1px -2px rgba($color, 0.12), 0 1px 5px 0 rgba($color, 0.2);
  } @else if $dp==3 {
    box-shadow: 0 3px 4px 0 rgba($color, 0.14),
      0 3px 3px -2px rgba($color, 0.12), 0 1px 8px 0 rgba($color, 0.2);
  } @else if $dp==4 {
    box-shadow: 0 4px 5px 0 rgba($color, 0.14), 0 1px 10px 0 rgba($color, 0.12),
      0 2px 4px -1px rgba($color, 0.2);
  } @else if $dp==6 {
    box-shadow: 0 6px 10px 0 rgba($color, 0.14), 0 1px 18px 0 rgba($color, 0.12),
      0 3px 5px -1px rgba($color, 0.2);
  } @else if $dp==8 {
    box-shadow: 0 8px 10px 1px rgba($color, 0.14),
      0 3px 14px 2px rgba($color, 0.12), 0 5px 5px -3px rgba($color, 0.2);
  } @else if $dp==9 {
    box-shadow: 0 9px 12px 1px rgba($color, 0.14),
      0 3px 16px 2px rgba($color, 0.12), 0 5px 6px -3px rgba($color, 0.2);
  } @else if $dp==12 {
    box-shadow: 0 12px 17px 2px rgba($color, 0.14),
      0 5px 22px 4px rgba($color, 0.12), 0 7px 8px -4px rgba($color, 0.2);
  } @else if $dp==16 {
    box-shadow: 0 16px 24px 2px rgba($color, 0.14),
      0 6px 30px 5px rgba($color, 0.12), 0 8px 10px -5px rgba($color, 0.2);
  } @else if $dp==24 {
    box-shadow: 0 24px 38px 3px rgba($color, 0.14),
      0 9px 46px 8px rgba($color, 0.12), 0 11px 15px -7px rgba($color, 0.2);
  }
}

// Create REM values with PX fall back
//
// Generate a REM with PX fallback from
// $baseFontSize. Enter the desired size based
// on pixels in numerical form. Supports shorthand.
//
// Forked from: http://codepen.io/thejameskyle/pen/JmBjc
//
// @author Greg Rickaby
// @since 1.0
//
// Usage: @include rem($property, $values);
// Example Usage:
//    @include rem(font-size, 16px);
//    @include rem(margin, 0 24px 0 12px);
//
// Outputs:
//    font-size: 16px;
//    font-size: 1.6rem;
//    margin: 0 24px 0 12px;
//    margin: 0 2.4rem 0 1.2rem;
// ----------------------------------
$baseFontSize: 16; // Based on HTML reset html { font-size: 62.5%; }

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px: ();
  $rem: ();

  $root: $baseFontSize;

  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    } @else if type-of($value) == number {
      $unit: unit($value);
      $val: parseInt($value);

      @if $unit == 'px' {
        $px: append($px, $value);
        $rem: append($rem, ($val / $root + rem));
      }

      @if $unit == 'rem' {
        $px: append($px, ($val * $root + px));
        $rem: append($rem, $value);
      }
    } @else {
      $px: append($px, $value);
      $rem: append($rem, $value);
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  } @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}

@function rem($value) {
  $root: $baseFontSize;
  $val: parseInt($value);
  $return: ();

  @if unit($value) == 'px' {
    $return: append($return, ($val / $root + rem));
  } @else {
    $return: append($return, ($val * $root + px));
  }

  @return $return;
}

//@mixin get-breakpoint-value($breakpoint-name, $breakpoints) {
//  @if map_has_key($breakpoints, $breakpoint-name) {
//
//  } @else {
//    @warn "Unfortunately, no value could be retrieved from `#{$breakpoints}`. "
//        + "Please make sure it is defined in `$breakpoints` map.";
//  }
//}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}
