// RESPONSIVE TYPOGRAPHY
// We are using the Twitter Bootstrap https://github.com/twbs/rfs.
// It's really lightweight, <5kb

@import '~rfs/scss';

.hero-title {
  @include responsive-font-size(2.625rem);
  letter-spacing: 0;
  line-height: 1.1;
}

.hero-subtitle {
  @include responsive-font-size(1.5rem);
  letter-spacing: 0;
  line-height: 1.1;
}

// Mostly used on the Homepage when presenting features
.super-title {
  @include responsive-font-size(2.625rem);
}

h1 {
  @include responsive-font-size(2rem);
}

h2 {
  @include responsive-font-size(1.75rem);
}

h3,
.h3 {
  @include responsive-font-size(1.5rem);
}

h4,
.h4 {
  @include responsive-font-size(1.4rem);
}

h5,
.h5 {
  @include responsive-font-size(1.2rem);
}

h6,
.h6 {
  @include responsive-font-size(1.1rem);
}

p {
  line-height: 22px;
}

.lh-1 {
  line-height: 1.1;
}

.lh-2 {
  line-height: 1.2;
}

.lh-3 {
  line-height: 1.3;
}

.lh-4 {
  line-height: 1.4;
}

.lh-4 {
  line-height: 1.5;
}
