// Custom variables

$navbar-font-size: 1rem;
$navbar-height-mobile: 3.875rem;
$navbar-height-desktop: 4.25rem;
$mob-menu-slide-in-duration: 0.3s;

$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;


// These breakpoints are defined according to Vuetify breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 960px,
  lg: 1264px,
  xl: 1904px
);
