@import 'colors';
@import 'variables';
@import 'mixins';
@import 'typography';

body {
  @include Montserrat;
}

section {
  @include media-breakpoint-up(sm) {
    padding: 4rem 0;
  }
  padding: 2rem 0;
}

// Animates links when hovering on/off
a {
  @include animate;

  &:hover {
    @include animate;
  }
}

/**
  Vuetify's '.container' is acting like a full-width (the 'fluid' prop)
  event though it should be narrow. This is a fix for this behavior.
 */
@media only screen and (min-width: 1904px) {
  .container {
    max-width: 1264px !important;
  }
}

// Added padding to `v-layout` element
.layout {
  padding: 0 12px;
}

.font-roboto {
  font-family: $roboto !important;
}

.font-montserrat {
  font-family: $montserrat !important;
}

.homepage-order-form {
  .v-input__slot {
    border-radius: 2rem !important;
    margin-bottom: 0;
  }
}

// Basic animation
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

// Toasted notification vue-toasted
.toasted-notification {
  @include Roboto;
  padding: 0.8rem 1.2rem !important;
  font-weight: 800;
}

// AppBar links
.navigation-link {
  display: flex;

  a {
    @include animate(0.15s);
    margin: 1rem 0.5rem;
    align-items: center;
    color: black !important;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      @include animate(0.15s);
      color: $orange !important;
    }
  }
}

.dense-spacing {
  letter-spacing: 0;
}

.no-underline {
  text-decoration: none;
}

.first-child-bold {
  span:nth-child(1) {
    font-weight: 500;
    padding-right: 0.5rem;
  }
}
