<template>
  <div>
    <div>
      <nuxt-link :to="{name:'index'}">Home</nuxt-link>
      <nuxt-link :to="{name:'faq'}">FAQ</nuxt-link>
      <nuxt-link :to="{name:'contact'}">Contact</nuxt-link>
    </div>
    <h1>FAQ</h1>
  </div>
</template>

<script>
  export default {
    layout: 'landing-page',
    name: 'faq'
  }
</script>

<style scoped>

</style>
