<template>
  <div>
    <nuxt-link :to="{name:'index'}">Home</nuxt-link>
    <nuxt-link :to="{name:'faq'}">FAQ</nuxt-link>
    <nuxt-link :to="{name:'contact'}">Contact</nuxt-link>
    <h1>Home</h1>
  </div>
</template>

<script>


export default {
  layout: 'landing-page',
  head() {
    return {
      title: this.$t('pages.index.title')
    }
  },
  components: {

  },
  mounted() {}
}
</script>

<style scoped lang="scss"></style>
