<template>
  <v-content class="background" >
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="4">

          <nuxt-child />
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
export default {
  name: 'login.vue',
  layout: 'pure',
  data() {
    return {

    }
  },
  methods: {},
  computed: {
  }
}
</script>

<style scoped lang="scss">

</style>
